.board-header h1 {
    text-align: center;
    margin: 20px 0;
    color: #444;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Row for Two-Column Layout */
.row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
}

.form-group.full-width {
    flex: 100%;
}

/* Label Style */
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0px 7px 0px;
    color: #0c0c0c;
}

/* Input, textarea and Select Style */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #3e3eee;
    outline: none;
}

.btn-con {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 25px;
}
.add-btn {
    background-color: #3636c8;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    border: #080880;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #080880;
}


/* Responsive Styles */
@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .form-container {
        width: 100%;
        padding: 45px;
    }
}