/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Style */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
}

/* Form Container */
.form-container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    background-color: #fff;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
.booking-details {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-details th, .booking-details td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.booking-details th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.booking-details tr:nth-child(even) {
    background-color: #f2f2f2;
}

.booking-details tr:hover {
    background-color: #f1f1f1;
}

.booking-details td {
    background-color: #fff;
}

.booking-details td:last-child {
    font-weight: bold;
}


/* Form Title */
h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Form Group Style */
.form-group {
    margin-bottom: 15px;
}

/* Label Style */
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0c0c0c;
}

/* Input, textarea and Select Style */
input[type="text"], input[type="number"], input[type="date"], input[type="time"], select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.button-flex {
    display: flex;                  /* Enable Flexbox */
    justify-content :left; /* Space buttons evenly across the container */
    align-items: center;   
    margin-top: 10px;         /* Vertically align items */
    gap: 10px;                      /* Optional: space between the buttons */
}

/* Button Style */
.submit-btn {
    background-color: #4d4de6;
    border-radius: 30px;
    width: 30%;
    height: 40px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #020267;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        width: 90%;
    }
    
    h2 {
        font-size: 24px;
    }

    input, select, button {
        font-size: 14px;
        padding: 8px;
    }
}

/* Button Focus State */
button:focus, input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #4d4de6;
}
