.table {
    background-color: #def6fa;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    /* margin-left: 20px; */
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}