.board-header h1 {
    text-align: center;
    margin: 20px 0;
    color: #444;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Input, textarea and Select Style */
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="date"]:focus {
    border-color: #3e3eee;
    outline: none;
}

.btn-con {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 25px;
}
.update-btn {
    background-color: #020267;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-btn:hover {
    background-color: #04931e;
}

.delete-btn {
    background-color: white;
    border-radius: 20px;
    border: 2px solid #020267;
    width: 100px;
    height: 40px;
    color: #020267;
    font-size: 16px;
    /* border: none; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #b11a1a;
    border: none;
    color:white;
}
@media (max-width: 1280px){
    .board-header h1{
        margin:100px 0px 0px 0px;
    }
    .college-name h1{
        margin-top: 10px;
        font-size: 1.8rem;
        color:white;
    }
    .college-name h2{
        margin-top: -16px;
        font-size: 1.4rem;
        color:white;
    }
    
}
@media (max-width: 780px){
  .container {
        margin: 10px 10px 5px 10px;
    }
    .board-header h1{
        margin:100px 0px 0px 0px;
    }
}
@media (max-width: 480px){
    .container {
        margin: 10px 10px 5px 10px;
    }
    table{
        width: 100%;
        padding:0px 10px 0px 10px;
    }

    th, td {
        text-align: left;
        padding: 5px;
        border: 1px solid #ddd;
    }
    .board-header h1{
        margin-top: 540px;
        font-size: 1.2rem;
    }
    /* .college-name h1{
        margin-top: 10px;
        font-size: 0.5rem;
        color:white;
    }
    .college-name h2{
        margin-top: -16px;
        font-size: 0.4rem;
        color:white;
    } */
}
